button {
  padding: 15px 25px;
  border: none;
  background-color: rgb(59, 59, 59);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
}
button:hover {
  color: rgb(59, 59, 59);
  background-color: white;
  transition: 0.6s ease-in-out;
  cursor: pointer;
  border: 1px solid rgb(59, 59, 59);
}
