.search {
  width: 75%;
  margin: auto;
}
.searchPage {
  border-color: red;
}
.inputs {
  width: 55%;
  margin: auto;
  padding-top: 50px;
}
.inputs p {
  font-size: 22px;
}
.inputs input {
  width: 100%;
  font-size: 25px;
  padding: 10px;
  margin-top: 20px;
}
/* XS Devices */
@media (max-width: 575px) {
  .search {
    width: 100%;
  }
  .inputs {
    width: 90%;
    margin: auto;
  }
}

/* SM Devices */
@media (min-width: 576px) and (max-width: 767px) {
  .search {
    width: 100%;
  }
  .inputs {
    width: 90%;
    margin: auto;
  }
}

/* MD Devices */
@media (min-width: 768px) and (max-width: 990px) {
  .search {
    width: 100%;
  }
  .inputs {
    width: 90%;
    margin: auto;
  }
}

/* LG Devices */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* XL Devices */
@media (min-width: 1200px) {
}
